<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link href="/css/custom.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/codemirror.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="/js/jquery.min.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</head>