<!DOCTYPE html>
<html>
{{template "ui/partials/head" .}}

<style>
    .container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        flex: 1;
    }
</style>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<body>
        <header></header>
        {{template "ui/partials/alert" .}}
        <main>
            {{template "ui/partials/navbar" .}}
            {{embed}}
        </main>
        <footer>
            {{template "ui/partials/footer" .}}
        </footer>
</body>

</html>