<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/img/logo-transparent.png" alt="" width="30" height="24">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/uuid">UUID</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ULID">ULID</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/password">Password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/jwt">JWT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/base64">Base64</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/json">JSON</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/yaml">YAML</a>
                </li>
            </ul>
        </div>
    </div>
</nav>